#yellow-box {
    top: 0;
    left: 220px;
    background-color: #ffe082;
}
.drag-and-drop {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1000;
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
}

.a{
    width: 5000px;
    height: 5000px;
}